# {{ ansible_managed }}

[mariadb]
pid-file=/run/mysqld/mysqld.pid
socket= /run/mysqld/mysqld.sock
bind-address=0.0.0.0
log_error=mariadb-test.err

wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_address=gcomm://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] | join(',') }}
wsrep_cluster_name={{ galera_wsrep_cluster_name }}
wsrep_node_name={{ ansible_hostname }}
wsrep_node_address={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_log_file_size=48M
